<h3> <%= @post.description %> </h3>
<h5> Votes: <%= @post.votes %> </h5>
<h4> Comments: </h4>

<ul style="list-style: none">
  <% @post.comments.order(created_at: :desc).each do |comment| %>
    <li><%= link_to '[X]', post_comment_path(@post, comment), :method => "delete" %>  <%= comment.name %> -- <%= comment.report %></li>
  <% end %>
</ul>

<p><%= link_to 'Home', posts_path %>  |
<%= link_to 'Edit', edit_post_path(@post) %>  |
<%= link_to 'Delete', post_path(@post),:method => "delete" %>  |

<%= link_to 'Add a Comment', new_post_comment_path(@post) %></p>
